.u-section-1 .u-sheet-1 {
  min-height: 309px;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 452px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.95);
  margin: -185px auto 0 69px;
}

.u-section-1 .u-shape-1 {
  width: 221px;
  height: 191px;
  margin: -175px auto 0 206px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  font-weight: 700;
  margin: -259px 46px 60px 589px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -174px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-image-1 {
    width: 240px;
    height: 352px;
    margin-top: -93px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -166px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-2 .u-line-1 {
  width: 1627px;
  left: -98px;
  top: 700px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(328deg);
}

.u-section-2 .u-line-2 {
  width: 1627px;
  left: -98px;
  top: 717px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(328deg);
}

.u-section-2 .u-line-3 {
  width: 1627px;
  left: -179px;
  top: 1164px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(328deg);
}

.u-section-2 .u-line-4 {
  width: 1627px;
  left: -179px;
  top: 1179px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(328deg);
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 25px 0 570px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -824px 588px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 88px;
  height: 88px;
  margin: 133px 482px 0 auto;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 85px;
  min-height: 16px;
  width: 372px;
  min-width: 94px;
  margin: -99px auto 60px 103px;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
  }

  .u-section-2 .u-line-3 {
    width: 940px;
  }

  .u-section-2 .u-line-4 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 103px;
    margin-right: 0;
    margin-left: 395px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -980px;
    margin-right: 568px;
    margin-left: 53px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 175px;
    margin-right: 398px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(0, 230, 118) !important;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(219, 83, 75) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
  }

  .u-section-2 .u-line-4 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 401px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
  }

  .u-section-2 .u-line-4 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 221px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2406px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }

  .u-section-2 .u-line-4 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -43px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 81px;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    height: 55px;
    width: 251px;
    margin-top: -182px;
    margin-left: auto;
    
  }

} .u-section-3 {
  background-image: linear-gradient(150deg, #f5d654, #808080);
}

.u-section-3 .u-sheet-1 {
  min-height: 558px;
}

.u-section-3 .u-form-1 {
  height: 381px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 101px 497px 60px 73px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }
} .u-section-4 {
  background-image: linear-gradient(#858e99, #fef9e6);
}

.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-form-1 {
  height: 666px;
  margin: 36px 540px 0 30px;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-label-4 {
  font-weight: 700;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-label-5 {
  font-weight: 700;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-label-6 {
  font-weight: 700;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -633px 326px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
  }
}